{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extraheader %}
  <title>タスク追加画面</title>
{% endblock %}

{% block pagetitle %}
  <h1>タスク追加画面</h1>
{% endblock pagetitle %}

{% block body %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="title" class="form-label">タイトル</label>
            <input type="text" name="title" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">説明</label>
            <input type="text" name="description" class="form-control" />
          </div>
          <button type="submit" class="btn btn-primary">追加</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
