{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extraheader %}
  <title>タスク追加画面</title>
{% endblock %}

{% block pagetitle %}
  <h1>タスク追加画面</h1>
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type='submit' content='追加' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
