{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extraheader %}
  <title>タスク一覧</title>
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1>タスク一覧</h1>
    <div class="mt-3">
      <a class="btn btn-primary" href="{% url 'todo_new' %}">タスクの追加</a>
    </div>

    <ul class="list-group">
      {% for task in tasks %}
        <li class="list-group-item">
          <h2><a href="{% url 'todo_detail' todo_id=task.id %}">{{ task.title }}</a></h2>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
