{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extraheader %}
  <title>タスク詳細</title>
{% endblock %}

{% block pagetitle %}
  <h1>タスク詳細</h1>
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <div>
      <h2 class="form-label">タイトル</h2>
      <p class="form-control">{{ task.title }}</p>
      {% if task.description %}
        <h2 class="form-label">説明</h2>
        <p class="form-control">{{ task.description }}</p>
      {% endif %}
    </div>
    <div class="mt-3">
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" name="delete_task_button">タスクの削除</button>
        <button type="submit" class="btn btn-primary" name="edit_task_button">タスクの編集</button>
        <button type="button" class="btn btn-primary" onclick="history.back()">戻る</button>
      </form>
    </div>
  </div>
{% endblock %}
