{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extraheader %}
  <title>タスク一覧</title>
{% endblock %}

{% block pagetitle %}
  <h1>タスク一覧</h1>
{% endblock %}

{% block body %}
  <div class="container mt-4">
    {% if tasks %}
      <ul class="list-group">
        {% for task in tasks %}
          <li class="list-group-item">
            <a class="title text-dark" href="{% url 'todo_detail' task.id %}">{{ task.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <div class="mt-3 text-center">
        <h3>現在登録されているタスクはありません</h3>
      </div>
    {% endif %}
    <div class="mt-3 float-right">
      <a class="btn btn-primary float-right" href="{% url 'todo_new' %}">タスクの追加</a>
    </div>
  </div>
{% endblock %}
