{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block extraheader %}
  <title>todo_list</title>
  <style>
    /* ボタン風のスタイリング */
    .add-task-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff; /* ボタンの背景色 */
      color: #fff; /* テキストの色 */
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }
  </style>
{% endblock %}

{% block body %}
  <h1>タスク一覧</h1>
  {% for task in tasks %}
    <div>
      <ul>
        <li>
          <h2><a href="{% url 'todo_detail' todo_id=task.id %}">{{ task.title }}</a></h2>
        </li>
      </ul>
    </div>
  {% endfor %}
  <div>
    <a class="add-task-button" href="{% url 'todo_new' %}">タスクの追加</a>
  </div>
{% endblock %}
